<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>
          ¡Bienvenido al buscador de personas!
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col col-xs-12">
        <form #form="ngForm" class="form-horizontal" (ngSubmit)="buscar(form.value)">
          <div class="form-group">
            <div class=" col col-xs-12">
              <div class="input-group">
                <input type="text" class="form-control" name="nombre" placeholder="Buscar persona por nombre..."
                  ngModel />
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="submit">Buscar!</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col col-xs-12">
        <div *ngIf="personasDisplay.length > 0">
          <h2>{{ personasDisplay.length }} Personas encontradas</h2>
          <div *ngFor="let persona of personasDisplay">
            <div class="row">
              <div class="col col-xs-12">
                {{ persona.nombre }} {{ persona.apellido }}
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="sinResultados">
          La búsqueda no arrojó resultados
        </div>
      </div>
    </div>
  </div>
</div>