<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>
          ¡Bienvenido al buscador de personas!
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col col-xs-12">
        <form #form="ngForm" class="form-horizontal" (ngSubmit)="buscar(form.value)">
          <div class="form-group">
            <div class=" col col-xs-12">
              <div class="input-group">
                <input type="text" class="form-control" name="nombre" placeholder="Buscar persona por nombre..."
                  ngModel />
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="submit">Buscar!</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col col-xs-12">
        <div class="row">
          <div class="col col-xs-12">
            <h5>Filtros</h5>
          </div>
        </div>
        <div class="row">
          <div class="col col-xs-3">
            Region
          </div>
          <div class="col col-xs-3">
            <select name="selectedRegion" [(ngModel)]="selectedRegion" (change)="setRegion($event.target.value)"
              class="form-control" required>
              <option *ngFor="let region of regiones" [value]="region.id">{{region.nombre}}</option>
            </select>
          </div>
          <div class="col col-xs-3">
            Comuna
          </div>
          <div class="col col-xs-3">
            <select name="seletedComuna" [(ngModel)]="selectedComuna" (change)="setComuna($event.target.value)"
              class="form-control" required>
              <option *ngFor="let comuna of comunas" [value]="comuna.id">{{comuna.nombre}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col col-xs-12">
        <div *ngIf="personasDisplay.length > 0">
          <h2>{{ personasDisplay.length }} Personas encontradas</h2>
          <div *ngFor="let persona of personasDisplay">
            <div class="row">
              <div class="col col-xs-12">
                <personas-component [persona]="persona"></personas-component>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="sinResultados">
          La búsqueda no arrojó resultados
        </div>
      </div>
    </div>
  </div>
</div>